<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CarSystemDb"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=DESKTOP-KU1NC67;Database=CarSystemDb;Integrated Security=True;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>